.mainWrapper {
    height: 100%;
    width: 100%;
}

.mainContent {
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 100%;
}

.mainTagLine {
    width: 450px;
    font-weight: 800;
    font-size: 42px;
}   

.highLightedTxt {
    background: linear-gradient(to right, #FBBF24, #FF9900, #FF6600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainDescriptionParagraph {
    width: 600px;
    line-height: 25px;
}

.mainInputWrapper {
    position: relative;
    width: 600px;
}

.mainInput {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
    border-color: transparent;
    padding: 10px;
    outline: none;
    width: 600px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.mainInput:focus {
    border-color: black;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0);
}

.dropDownMenuBtn {
    position: absolute;
    border: none;
    top: 0;
    background-color: white;
    right: 0;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropDownMenuBtn:hover::before {
    position: absolute;
    top: -40px;
    content: 'Summarization Types';
    width: 170px;
    padding: 5px;
    color: white;
    border-radius: 8px;
    background-color: rgb(30, 30, 30);
}

.dropDownImg {
    width: 16px;
    height: 16px;
}

.dropDownImg.open {
    transform: rotate(180deg);
}

.mainDropDownMenu {
    position: absolute;
    top: 50px;
    right: -50px;
    background-color: rgb(30, 30, 30);
    color: white;
    width: 150px;
    padding: 10px;
    border-radius: 8px;
}   

.mainDropDownMenuListWrapper {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mainDropDownMenuListItem {
    padding: 5px;
    cursor: pointer;
}

.mainDropDownMenuListItem:hover {
    background-color: rgb(60, 60, 60);
    border-radius: 4px;
}

.summarizeContentWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    align-items: center;
    gap: 24px;
}

.summarizationTypeTxt {
    font-size: 12px;
    color: rgb(159, 159, 159);
}

.summarizeBtn {
    padding: 10px;
    width: 150px;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: 700;
    border-radius: 20px;
    background: linear-gradient(to right, #FBBF24, #FF9900, #FF6600);
    cursor: pointer;
}

.loadingSummaryWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 200px;
}

.mainLoader {
    width: 48px;
    height: 48px;
    border: 5px solid #FBBF24;
    border-bottom-color: #FF9900;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

.articleSummaryWrapper {
    margin-top: 32px;
    width: 600px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.articleSummaryWrapper.empty {
    display: none;
}

.renderedSummary {
    height: fit-content;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    border-radius: 8px;
    width: 600px;
}

.summary {
    font-weight: 500;
    color: rgb(24, 24, 24);
    line-height: 24px;
    font-size: 14px;
    text-align: start;
}








@media screen and (min-width: 1536.1px) and (max-width: 100vw) {
    .mainContent {
        padding: calc(60px + (100vw - 1536px) / 35);
    }
    .mainTagLine {
        font-size: calc(42px + (100vw - 1536px) / 250);
    }
    .mainDescriptionParagraph, .mainInput, .mainInputWrapper, .articleSummaryWrapper, .renderedSummary {
        width: calc(600px + (100vw - 1536px) / 5);
    }
    .mainDescriptionParagraph {
        font-size: calc(16px + (100vw - 1536px) / 500);
    }
}

@media (max-width: 1536px) {
    .mainContent {
        padding: calc(60px + (100vw - 1536px) / 35);
    }
    .mainTagLine {
        font-size: calc(42px + (100vw - 1536px) / 250);
    }
    .mainDescriptionParagraph, .mainInput, .mainInputWrapper, .articleSummaryWrapper, .renderedSummary, .loadingSummaryWrapper {
        width: calc(600px + (100vw - 1536px) / 5);
    }
    .mainDescriptionParagraph {
        font-size: calc(16px + (100vw - 1536px) / 500);
    }
  }

  @media (max-width: 500px) {
    .mainContent {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: calc(30px + (100vw - 500px) / 10);
        padding-right: calc(30px + (100vw - 500px) / 10);
        gap: calc(32px + (100vw - 500px) / 25);
    }
    .mainTagLine {
        font-size: calc(37.8px + (100vw - 500px) / 25);
        width: calc(450px + (100vw - 500px) / 1.18);
    }
    .mainDescriptionParagraph, .mainInput, .mainInputWrapper, .articleSummaryWrapper, .renderedSummary, .loadingSummaryWrapper {
        width: calc(392.8px + (100vw - 500px) / 1.5);
    }
    .mainInput {
        box-shadow: unset;
        border-color: rgb(0, 0, 0);
    }
    .articleSummaryWrapper {
        align-items: center;
    }
    .mainDescriptionParagraph {
        font-size: calc(13.9px + (100vw - 500px) / 100);
    }
    .mainDropDownMenu {
        right: calc(-50px - (100vw - 500px) / 6);
    }
    .dropDownMenuBtn:hover::before {
        display: none;
    }
  }

  